.page {
  display: none;
  background-color: #fbdb04;
  margin: auto 5px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: #656769; /* 未访问的链接颜色 */
}

a:visited {
  color: #656769; /* 已访问的链接颜色 */
}

a:hover {
  color: #007bff; /* 鼠标悬停时的链接颜色 */
}

.nav-list {
  font-size: larger;
}



.vector-image-container img {
  max-width: 100%;  
  height: auto; 
  display: block; 
  margin: 0 auto;
}

.smtxt{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}


/* 频道页面 */
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
}

.left-box {
  width: 30%;
  margin: 20px 0 20px 20px;
  background-color: white;
}

.right-box {
  width: 70%;
  margin: 20px 20px 20px 0;
  background-color: white;
}

.channels-list {
  height: 82%;
  background-color: #f7f5f6;
}

.channel-name {
  margin-top: 10px;
  margin-left: 10px;
}


