.page {
  display: none;
  background-color: #fbdb04;
  margin: auto 5px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: #656769; 
}

a:visited {
  color: #656769; 
}

a:hover {
  color: #007bff; 
}

.nav-list {
  font-size: larger;
}


.smtxt {
  font-size: 20px;
  height: 100px;
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 768px) {

  svg-image

  
}