.message-container{
    position: relative;
    display: flex;
    margin: 10px 0;
}

.message-logo{
    width: 50px;
    height: 18px;
    display: 4;
    background-color: yellow;
    border-radius: 5%;
    margin-right: 10px;
    padding: ;
}